.container {
    width: 100% !important;
}

.selector {
    border-radius: 36px;
    background-color: #cc0202;
    border: solid 1px gray;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        margin-top: -20% !important;
        justify-content: space-between;
    }
    .selector {
        margin-top: -24% !important;
        flex-direction: column;
        transform: scale(0.8);
        gap: 9px;
    }
 }

 @media (min-width: 1025px) {
    .container {
        margin-top: 20%;
    }
    .selector {
        display: flex;
        gap: 9px;
        margin-left: -10%;
        width: 100%;
    }
}