.sideContainer {
    overflow: hidden;
    position: relative;
    max-width: 500px;
    ;
}

.sidemenu {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    min-width: 80px;
    left: 1%;
    border-radius: 36px;
    min-height: 100% !important;
    overflow-y: auto;
    padding-top: 60px;
}

@media (max-width: 768px) {
    .sidemenu {
        width: 80px;
    }
}

@media (min-width: 768px) {
    .sidemenu {
        min-width: 120px;
    }
}

.sidemenu li:hover {
    border-radius: 36px;
    padding: 10px;
    background-color: #cc0202;
    color: white;
    width: 100%;
}

.selected {
    border-radius: 36px;
    padding: 10px;
    background-color: #cc0202;
    color: white;
    width: 100%;
}